{% extends "base.html" %}

{% block title %} {{album.title}} {% endblock %}
{% block content %}

    <h1 style="color: white;">Informacion : {{album.title}}</h1>

    &nbsp;
    
    <div class="container">
      <div class="card bg-black text-white col-6 col-sm-6 col-md-4 col-lg-3 offset-4" >
          <img class="card-img" src="{{album.get_image_url}}">
          <div class="card-img-overlay">
          </div>
      </div>
      <table class="table table-hover table-dark album_table" style="color: white;" style="width: 100%; opacity: 0.3;">
        <thead>
          <th colspan="4" style="text-align: center;">Canciones Mas escuchadas</th>
          <tr>
            <td >Titulo</td>
            <td >Artista</td>
            <td >Colaborador</td>
            <td></td>
          </tr>
        </thead>
          {% for song in song_list %}
            <tr>
              <td>{{song.title}}</td>
              <td>{{song.artist}}</td>
              <td>{{song.show_collab}}</td>
              <td><audio controls src="{{ song.get_song_url }}"></audio></td>
            </tr>
          {% endfor %}
      </table>
    </div>

    <!-- &nbsp;

    <div class="container">
      <div class="row">
        {% for album in album_list %}
          {% if album.artist.id == artist.id %}
          <div class="card bg-black text-white col-6 col-sm-6 col-md-4 col-lg-3" >
                  <img class="card-img" src="{{album.get_image_url}}">
              <div class="card-img-overlay">
                  <div  class="texto">
                      <h5 class="card-title">{{album.title}}</h5>
                  </div>
              </div>
          </div>
          {% endif%}
          {% endfor %}
    </div>
  </div> -->
    {% endblock %}