{% extends "base.html" %}

{% block title %} Paises {% endblock %}
{% block content %}
    <h1 style="color: white;">Paises</h1>

    <div class="container">
            <div class="row">
                {% for country in countries %}
                
                <div class="card bg-black text-white col-6 col-sm-6 col-md-4 col-lg-3" >
                    <a href="{% url 'countryDetail' country.id %}">
                    <div id="fondo">
                        <img class="card-img " src="{{country.get_image_url}}" >
                    </div>
                    <div class="card-img-overlay">
                        <div  class="texto">
                        <h5 class="card-title">{{country.name}}</h5>
                        </div>
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}