{% extends "base.html" %}

{% block title %} Pagina Principal {% endblock %}
{% block content %}


    <h1 style="color: white;">Ultimos lanzamientos</h1>

    <div class="container">
            <div class="row">
                {% for song in songs %}
                <div class="card bg-black text-white col-6 col-sm-6 col-md-4 col-lg-3" >
                    <div id="fondo">
                        <img class="card-img" src="{{song.album.get_image_url}}">
                    </div>
                    <div class="card-img-overlay">
                        <div  class="texto">
                            <h5 class="card-title">{{song.title}}</h5>
                            <p class="card-text">{{song.artist}}</p>
                            <p class="card-text text-center "><audio controls src="{{ song.get_song_url }}" class=""></audio></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
  {% endblock %}